body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#overlay {
  font-family: monospace;
  font-size: 1em;
  position: absolute;
  left: 10px;
  top: 10px;
  height: 700px;
  width: 300px;
  overflow: hidden;
}

#input-textarea {
  margin: 0;
  height: 300px;
  width: 280px;
}
