body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#overlay {
  font-family: monospace;
  font-size: 1em;
  position: absolute;
  left: 10px;
  top: 10px;
  height: 700px;
  width: 300px;
  overflow: hidden;
}

#input-textarea {
  margin: 0;
  height: 300px;
  width: 280px;
}

#legend {
  position: absolute;
  right: 10px;
  top: 50%;
  height: 200px;
  width: 100px;
  background-color: rgba(255,255,255,0.2);
  padding: 5px;
}

#legend h2 {
  margin: 5px;
  font-size: 1.5em;
}

.color-patch {
  height: 20px;
  width: 20px;
  display: inline-flex;
  margin: 5px;
}
